{{> header }}

{{> navbar }}

<div class="formulario-1">

    <form action="/add-machine" method="POST">
        <input id="input-1" type="text" name="nombre" placeholder="Name machine">
        <input id="input-2" type="text" name="descripcion" placeholder="Description">
        <input id="btn-submit" type="submit" value="Add machine">
    </form>

</div>

{{> footer }}